body {
    /* background-color: #d1a5bb; */
    /*background-color: #6ca589;*/
    background-color: #FFF;
}
.app-title {
    margin-top: 44px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}
.main-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
}
.main-content .background-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-image: url("./img/efd547e4e851.jpg"); */
    background-color: #333;
    z-index: -1;
    opacity: 0.8;
}
.search-container {
    text-align: center;
    margin: 20px;
}
.search-container .ipt-text, .search-container .ipt-text:hover {
    height: 30px;
    width: 40%;
    font-size: 14px;
    background-color: #aca98c;
    border: 10px solid #464646;
    border-radius: 3px;
    outline: none;
}

.search-container .ipt-text::after {
    background-image: url("./img/qry-icon.png");
    background-size: cover;
    background-color: #516147;
    display: inline-block;
    height: 30px;
    width: 30px;
    content: '';
}
.search-container .qry-icon-btn {

}
.doc-container {
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
    clear: both;
}
.doc-container .doc-item {
    display: inline-block;
    width: auto;
    padding: 0px 15px;
    height: 70px;
    line-height: 70px;
    overflow: hidden;
    border: 1px solid #666666;
    border-radius: 4px;
    float: left;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    /*background-color: #b0c3a4;*/
    background-color: #323030;
}
.doc-container .doc-item:hover {
    background-color: #666666;
}
.doc-container .flip-list-move {
    transition: transform 1s;
}

/* =======================
        word cloud style
=========================*/
/*.word-color:nth-child(7n + 1) {*/
/*    color: rgb(202, 110, 255);*/
/*}*/
/*.word-color:nth-child(7n + 2) {*/
/*    color: rgb(83, 110, 255);*/
/*}*/
/*.word-color:nth-child(7n + 3) {*/
/*    color: rgb(143, 253, 241);*/
/*}*/
/*.word-color:nth-child(7n + 4) {*/
/*    color: rgb(183, 255, 112);*/
/*}*/
/*.word-color:nth-child(7n + 5) {*/
/*    color: rgb(255, 212, 126);*/
/*}*/
/*.word-color:nth-child(7n + 6) {*/
/*    color: rgb(248, 140, 131);*/
/*}*/
/*.word-color:nth-child(7n + 7) {*/
/*    color: rgb(104, 160, 255);*/
/*}*/
@keyframes word {
    0% {
        opacity: 0.5;
    }
    3% {
        opacity: 1;
    }
    9% {
        opacity: 1;
    }
    12% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.5;
    }
}
.word-animate {
    animation-name: word;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    will-change: opacity;
    opacity: 0.5;
}
.word-animate:nth-child(5n + 1) {
    animation-delay: 0s;
}
.word-animate:nth-child(5n + 2) {
    animation-delay: 3s;
}
.word-animate:nth-child(5n + 3) {
    animation-delay: 6s;
}
.word-animate:nth-child(5n + 4) {
    animation-delay: 9s;
}
.word-animate:nth-child(5n + 5) {
    animation-delay: 12s;
}