<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FallenGodCoder的文档</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="description" content="Description">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./index.css">
	<script src="../static/vue.js"></script>
    <script src="../static/wordcloud2.js"></script>
    <style>

    </style>
</head>
<body>
    <div id="app" class="main-content">
        <div class="app-title">FallenGodCoder's Document</div>
        <div>
            <div class="search-container">
                <input v-model="searchText" class="ipt-text" type="text" placeholder="请输入搜索内容"/><!--<span class="qry-icon-btn"></span>-->
            </div>
            <template v-if="display == 'cell'">
                <transition-group name="flip-list" tag="div" class="doc-container">
                    <template v-for="doc in qdocs">
                        <a class="doc-item" v-if="!doc.show" :key="doc.title" :href="doc.href">{{doc.title}}</a>
                    </template>
                </transition-group>
            </template>
            <template v-else-if="display == 'wordcloud'">
                <div>
                    <div ref="wordcloud" style="height: 600px"></div>
                </div>
            </template>
        </div>
        <div class="background-image"></div>
    </div>
	<script type="text/javascript" src="./index.js"></script>
</body>
</html>